@property --log-top {
    syntax: "<length>";
    inherits: false;
    initial-value: 18vh;
}

@property --text-top{
    syntax: "<length>";
    inherits: false;
    initial-value: 18vh; 
}



body {
    overflow: hidden;
}

#scrollContainer {
    display: flex;
    width: 700vw; /* 7 sections wide (7 * 100vw) */
    height: 100vh;
    transition: transform 0.5s ease; /* Smooth horizontal scroll transition */
    overflow-x: visible; /* Allow horizontal scroll */
    scroll-behavior: smooth; /* Smooth scrolling */
    background-image: url(../assets/Grass-long.png);
    background-position: left top;
    background-size: auto 100%;
    background-repeat: no-repeat;
}

.container-fluid {
    scroll-snap-align: center;
}

@keyframes swayRope {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateY(-0.2px);
    }
    50% {
        transform: translateY(0.2px);
    }
    75% {
        transform: translateY(-0.2px);
    }
    100% {
        transform: translateX(0);
    }
}

@media (max-width: 500px) {

    #BackgroundFirstTwo {
       margin-left: -300px; 
    }

}



@font-face {
    font-family: Magilio;
    src: url(../fonts/Magilio.ttf);
}
    #frontImage {
        width: 100vw;
        height: 40vh;
        top: var(--log-top);
    }
    
    /* Venstre pæl side 1 */
    #PoleLeftOne {
        width: 15%;
        height: 90vh;
    }
    
    #frontInfo {
        width: 100vw;
        height: 20vh;
        line-height: 25px;
        top: var(--text-top); 
  
    }
    
    #frontInfo p {
        font-size: 35px;
      
    }
    
    #billetButton {
        height: 12vh;
        width: 230px; 
        line-height: 12vh;
       top: var(--text-top); 
    }

    #billetButton p {
        font-size: 35px;
    }

/* Tøjsnor for 2 elementer uden pæle */
#snor1{
    position: absolute;
    height: 3px; 
    width: 100vw; 
    background-color: rgb(95, 49, 23); 
    top:5vh; 
}



#tøj1{
    position: absolute;
    height: 60vh;
    top: 2vh; 
    width: 60vw;

} 

#klemmeForside2{
    position: relative;
    background-image: url(../assets/tøjKlemme.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y:top; 
    float: right;

    margin-right: 12vw;
    height: 40px; 
    width: 40px; 
   z-index: 10;
}

#klemmeForside1{
    position: relative;
    background-image: url(../assets/tøjKlemme.png);
    background-size: contain;
    background-repeat: no-repeat;
 
    margin-left: 12vw;
    background-position-y:top; 
    float: left;
    height: 40px;
    width: 40px;
    z-index: 10;
}


#bukser{
    position: relative;
    width: 100%; 
   padding-top: 0; 
   margin-top: -18px;
} 

/* Venstre pæl side 1 */
#PoleLeftOne {
    position: absolute;
    left: 0;
    bottom: 0;
}

.container-fluid {
    background-position: center;
    height: 100vh; 
    padding: 0px; 
}

#center {
    position: absolute;
    overflow: hidden;
}

#frontImage {
    display: flex;
    position: relative;
    background-image: url(../assets/logo1.png);
    background-size: contain; 
    background-position-y: bottom; 
    background-position-x: center; 
    background-repeat: no-repeat;
    justify-self: center;
    align-self: center;
    overflow-y: hidden;
     z-index: 0
}

#frontInfo {
    display: flex; 
    position: relative;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
}

#frontInfo p {
    justify-self: center;
    color: white;
    font-family: Magilio;
    font-weight: bold;
}

#billetButton {
    display: flex;
    position: relative;
    color: black;
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    justify-self: center;
    justify-content: center;
    align-content: center;
    z-index: 5;
    border-radius: 25px;
}

#billetButton:hover {
    background-color: #50d953;
    transform: translateY(-5px);
}

#billetButton p {
    display: flex;
    position: relative;
    color: black;
    font-family: Magilio;
}