body{

    overflow: hidden;
} 

#scrollContainer {
    display: flex;
    width: 700vw; /* 7 sections wide (7 * 100vw) */
    height: 100vh;
    transition: transform 0.5s ease; /* Smooth horizontal scroll transition */
    overflow-x: visible; /* Allow horizontal scroll */
    scroll-behavior: smooth; /* Smooth scrolling */
    background-image: url(../assets/Grass-long.png);
     background-position: left top; 
   background-size: auto 100%;
    background-repeat: no-repeat;
}



.container-fluid{
    scroll-snap-align: center;
} 
 





@keyframes swayRope {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateY(-0.2px);
    }
    50% {
        transform: translateY(0.2px);
    }
    75% {
        transform: translateY(-0.2px);
    }
    100% {
        transform: translateX(0);
    }
}




@font-face {
    font-family: Magilio;
    src: url(../fonts/Magilio.ttf);
  }



/* Big screen */ 
@media only screen and (min-width: 768px){

    #BackgroundFirstTwoMobile{
        position: absolute;
        width: 200vw;
        height: 110vh; 
        bottom: 0vh;
        z-index: 0;
        transform-origin: left center; 
            animation: swayRope 40s 2s infinite;
            opacity: 0;    /* Start hidden */ 
    } 

    #BackgroundFirstTwo{
        position: absolute;
        width: 200vw;
        height: 110vh; 
        bottom: 0vh;
        z-index: 0;
        transform-origin: left center; 
            animation: swayRope 40s 2s infinite;
        
    } 

    .container-fluid{
        background-position: center;
    } 
    
#center{
    position: absolute;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    } 
    

    #frontImage{
        display: flex;
        position: relative;
        background-image: url(../assets/logo1.png);
        background-size: contain;
        background-position-x: center; /* goated */
        background-repeat: no-repeat;
        width: 60vw;
        height: 40vh;
        justify-self: center;
        align-self: center;
        top: 28vh; 
        overflow-y: hidden;
        display: block;
        opacity: 0;     /* Start hidden */
        z-index: 1;
        }
        
        #frontInfo{
        display: flex;
        position: relative;
        justify-self: center;
        align-self: center;
        justify-content: center;
        align-content: center;
        width: 20vw; 
        height: 20vh; 
        text-align: center;
        flex-direction: column;
        margin-top: 27vh;
        
        } 
        
        #frontInfo p{
            justify-self: center;
        font-size: 30px;
        color: white;
        font-family: Magilio;
        font-weight: bold;
            } 

    /*
    #tøjsnor1{
        width: 100%;
        height: 100%;
        position: absolute; 
        margin: 0;
        bottom: 0vh;
        left: 0vw;
        z-index: 2;
        transform-origin: left center; 
        animation: swayRope 10s 2s infinite;
    } 
    */

  /*  #bukser{
        background-image: url(../assets/Jeans3.png);
        background-size: cover;
        background-repeat: no-repeat;
        z-index: 1;
        position: relative;
        height: 70vh;
        width: 25vw;
        justify-self: end;
        bottom: 44.3vh;
        rotate: 2deg;
        right: 10.3vw;
        animation: sway 10s 2s infinite;
    } 
*/

    #billetButton{
        display: flex;
        position: relative;
        height: 12vh;
        width: 15vw;
        color: black;
        background-color: rgba(255, 255, 255, 0.8);
        border: none;
        justify-self: center;
        line-height: 12vh;
        justify-content: center;
        align-content: center;
        bottom:2vh; 
        z-index: 2;
        border-radius: 25px;
        } 

        #billetButton:hover{
            background-color: pink;

        } 

        
        #billetButton p{
            display: flex;
            font-size: 55px;
            position: relative;
         color: black; 
        font-family: Magilio;
        } 
} 

/* Small screen */ 
@media only screen and (max-width: 768px){

    #BackgroundFirstTwo{
        position: absolute;
        width: 200vw;
        height: 110vh; 
        bottom: 0vh;
        z-index: 0;
        transform-origin: left center; 
            animation: swayRope 40s 2s infinite;
            opacity: 0;    /* Start hidden */ 
    } 

    #BackgroundFirstTwoMobile{
        position: absolute;
        width: 200vw;
        height: 100vh; 
        bottom: 0vh;
        z-index: 5;
        transform-origin: left center; 
            animation: swayRope 40s 2s infinite;
            opacity: 1;    /* Start hidden */ 
    } 
        
    .container-fluid{
        background-position: center;
    } 
    
#center{
    position: absolute;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    } 
    

    #frontImage{
        display: flex;
        position: relative;
        background-image: url(../assets/logo1.png);
        background-size: contain;
        background-position-x: center; /* goated */
        background-repeat: no-repeat;
        width: 60vw;
        height: 40vh;
        justify-self: center;
        align-self: center;
        top: 35vh; 
        overflow-y: hidden;
        display: block;
        opacity: 0;     /* Start hidden */
        z-index: 1;
        }
        
        #frontInfo{
        display: flex;
        position: relative;
        justify-self: center;
        align-self: center;
        justify-content: center;
        align-content: center;
        width: 50vw; 
        height: 20vh; 
        text-align: center;
        flex-direction: column;
        
        margin-top: 20vh;
        
        } 
        
        #frontInfo p{
            justify-self: center;
        font-size: 25px;
        color: white;
        font-family: Magilio;
        font-weight: bold;
            } 

    /*
    #tøjsnor1{
        width: 100%;
        height: 100%;
        position: absolute; 
        margin: 0;
        bottom: 0vh;
        left: 0vw;
        z-index: 2;
        transform-origin: left center; 
        animation: swayRope 10s 2s infinite;
    } 
    */

  /*  #bukser{
        background-image: url(../assets/Jeans3.png);
        background-size: cover;
        background-repeat: no-repeat;
        z-index: 1;
        position: relative;
        height: 70vh;
        width: 25vw;
        justify-self: end;
        bottom: 44.3vh;
        rotate: 2deg;
        right: 10.3vw;
        animation: sway 10s 2s infinite;
    } 
*/

    #billetButton{
        display: flex;
        position: relative;
        height: 15vh;
        width: 60vw;
        color: black;
        background-color: rgba(255, 255, 255, 0.8);
        border: none;
        justify-self: center;
        line-height: 15vh;
        justify-content: center;
        align-content: center;
         
        z-index: 2;
        border-radius: 25px;
        } 

        #billetButton:hover{
            background-color: pink;

        } 

        
        #billetButton p{
            display: flex;
            font-size: 40px;
            position: relative;
         color: black; 
        font-family: Magilio;
        } 

} 


   
        

