
body {
    overflow: hidden;
}

#scrollContainer {
    display: flex;
    width: 2000vw; /* 7 sections wide (7 * 100vw) */
    height: 100vh; /* Full viewport height */
    transition: transform 0.5s ease; /* Smooth horizontal scroll transition */
    overflow-x: visible; /* Allow horizontal scroll */
    overflow-y: hidden; /* Hide vertical scroll */
    scroll-behavior: smooth; /* Smooth scrolling */
}

#background{
    display: flex;
    flex-direction: row;
} 

.backgroundImage{
    display: flex;
    height: 100vh;
    width: auto;
    overflow-y: hidden;
    z-index: -10;
} 

.container-fluid {
    scroll-snap-align: center;
}

@font-face {
    font-family: Magilio;
    src: url(../fonts/Magilio.ttf);
}
    
.container-fluid {
    background-position: center;
    height: 100vh; 
    padding: 0px; 
}

#center {
    position: absolute;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#frontImage {
    display: flex;
    position: relative;
    background-image: url(../assets/logo1.png);
    background-size: contain; 
    background-position-y: bottom; 
    background-position-x: center; 
    background-repeat: no-repeat;
    justify-self: center;
    align-self: center;
    height: 50vh;
    width: 100vw;
    overflow-y: hidden;
     z-index: 0; 
     top: -5vh;
}

#frontInfo {
    display: flex; 
    position: relative;
    flex-direction: column; 
    align-items: center; 
    justify-content: center;   
}

#frontInfo p {
    justify-self: center;
    color: white;
    font-family: Magilio;
    font-weight: bold;
    font-size: 35px;
}

#billetButton {
    display: flex;
    position: relative;
    color: black;
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    justify-self: center;
    justify-content: center;
    align-content: center;
    align-items: center; /* Center items vertically */
    z-index: 5;
    border-radius: 25px;
    width: 300px;
    height: 10vh;
    text-align: center;
    line-height: 10vh;
    margin: 0 auto; 
   
}

#billetButton:hover {
    background-color: #50d953;
    transform: translateY(-5px);
}

#billetButton p {
    display: flex;
    align-items: center; /* Center text vertically */
    justify-content: center; /* Center text horizontally */
    position: relative;
    color: black;
    font-size: 40px;
    font-family: Magilio;
    margin: 0; /* Remove default margin */
}