#content{
height: 100vh;
width: 100vw;
margin-top: 5vh;
} 

#scrollContainer {
    top: 0;
    left: 0;
    width: 2000vw; /* Adjust based on your number of sections */
    height: 100vh;
    display: flex;
    flex-direction: row;
    transform: translateX(0);
    will-change: transform; /* Performance optimization */
    touch-action: pan-y pinch-zoom; /* Allow vertical scrolling and pinch zoom */
}
